*{
    margin: 0;
    padding: 0;
}

.navigation{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    background-color: #343a40;
    position: fixed;
    padding: 15px 0 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    
   
}

.navigation #navbar{
    padding:0 15px 0 15px;
    margin: 0;
    color: white
}

.navigation #home{
    padding: 0 15px 0 0;
    color: white;
    
}

.navigation #link{
    padding-right: 15px;
    color: rgb(165, 164, 164);
}

.navigation #disabled{
    padding-right: 15px;
    color: rgb(129, 129, 129);
}

.navigation #dropdown{
    padding-right: 600px;
    color: rgb(170, 170, 170);
}

.main{
    padding: 100px;
    background-color: rgb(230, 228, 228);
   
}

.main h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.main p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    
}

.sub-content{
    display: flex;
   padding: 40px 100px;
   text-align: justify;
    
}

.first-heading{
    padding-right: 20px;
   
    /*border: 2px solid black;*/
}
.first-heading h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.first-heading p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.second-heading{
    padding-right: 20px;
    /*border: 2px solid black;*/
    
}
.second-heading h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.second-heading p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.third-heading{
    padding-right: 20px;
    /*border: 2px solid black*/

}
.third-heading h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.third-heading p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

footer{
    padding: 30px 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    border: 0;
}

@media only screen and (min-width:500px){
styles /*tables*/
}
@media only screen and (min-width:900px){
styles /*laptops*/
}
@media only screen and (min-width: 1400px){
    /*desktops*/
}